<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Testing XCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4997FE8D1C8D5EA000F1A36D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4997FEA11C8D5EA000F1A36D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4997FEAC1C8D5EA000F1A36D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
